/* settings for img hispeed*/

.box {
  width: 100%;
  background: #f7d794; /*  70% opaque green */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
h4 {
  border: 3px solid white;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 900;
  color: black;
}
/* settings items in navbar*/
ul li a {
  font-size: 20px !important;
}

.fa_menu {
  color: #17c0eb !important;
  font-size: 20px;
}
